<ion-view style="" id="page1" title="Send Message">
  <ion-content class="has-header" padding="true">
    <form class="list" id="page-form1">
      <h1 style="color: rgb(220, 95, 95); text-align: center;" id="page-heading1">Chat A</h1>
      <div style="height: 100px;" class="spacer"></div>
      <label name="message" id="page-input1" class="item item-input item-floating-label">
        <span class="input-label"> <b>Message</b></span>
        <input placeholder="Enter Message Here" type="text">
      </label>
    </form>
    <a class="button button-positive  button-block" id="page-button1" ui-sref="page2">Send Message</a>
    <div style="height: 100px;" class="spacer"></div>
  </ion-content>
</ion-view>