<ion-view style="" id="page1" title="Inbox">
  <ion-content class="has-header" padding="true">
    <h1 style="color: rgb(220, 95, 95); text-align: center;" id="page-heading1">Chat B</h1>
      <ion-list click-for-options-wrapper show-delete="false" show-reorder="false" can-swipe="true" swipe-direction="both" id="page-list1">

        <ion-item click-for-options ng-repeat="item in items"
                  item="item"
                   ng-if="item.delstatus == 0" ng-style="(item.read != 0) ? {'background-color':'green'}:''" >
          <ion-option-button side="left" class="ion-minus-circled"
                             ng-click="onItemDelete(item)">

          </ion-option-button>
          <span >{{ item.msg }}</span>



          <ion-option-button side="right" class="button-assertive"
                             ng-click="readMessage(item)">
            Read
          </ion-option-button>


        </ion-item>

      </ion-list>
  </ion-content>
</ion-view>